<%= stylesheet_link_tag "styles.css" %>

<button type="button"><%= link_to 'Homepage', controller: 'welcome' %></button>
<button type="button"><%= link_to 'Check out my blog', controller: 'articles' %></button>

<h1>Hi! I'm Celia</h1>

<p>And I'm a recent Hackbright Academy grad.</p>

<%= image_tag("career_day.jpg", :class => 'about')%>

<p>I love to travel, explore San Francisco, and also lounge on my couch and watch Netflix.</p>

<%= image_tag("elephant.jpg", :class => 'about')%>
<p>Elephants are the best!</p>