<%= stylesheet_link_tag "styles.css" %>

<button type="button"><%= link_to 'Homepage', controller: 'welcome' %></button>
<button type="button"><%= link_to 'Back to all articles', articles_path %></button>
<button type="button"><%= link_to 'Learn more about me', controller: 'about' %></button>

<h1>New Article</h1>

<%= render 'form' %>

